<div style="margin-top:30px; text-align:center;" class="hero-unit well">
  <h1 style="font-size:60px;">Miss me?</h1><br/>
  <h3>
    You know the drill <%= current_student.name %>, just click on a link to the left.
  </h3>
  <h1>&larr;</h1>
</div>
