<div class="page-header">
  <h1 class="center">Backpack Help</h1>
</div>

<div>
  <h2><span class="glyphicon glyphicon-cloud"></span> Technical Stuff</h2>
  <br>

  <h3>How does Backpack work?</h3>
  <p>Well isn't that the million dollar question. Backpack is, in terms of software, not too complex.
    However, there are a lot of moving parts. I'm always available to talk about the engineering of Backpack in more detail,
    <a href="mailto:me@jonathanmoss.me">just send me an email</a>.
  </p>

  <p>Backpack is powered by <a href="http://rubyonrails.org">Ruby on Rails</a>, a popular framework used to make powerful web applications.
    Rails powers the front-end (the part of the site you see), as well as the back-end (the behind-the-scenes part of the site).
    The styling used on the website is powered by <a href="http://getbootstrap.com">Bootstrap</a>, a popular CSS styling framework.
  </p>
  <hr>

  <h3>Is Backpack secure?</h3>
  <p>The short answer for this question is <b>yes</b>. All passwords used on this website as strongly encrypted.
      As well, Backpack forces users to use SSL encryption, which protects the date being transferred from your computer to Backpack's server.
  </p>
  <hr>

  <h3>Who pays for Backpack?</h3>
  <p>Jon Moss does. Backpack is hosted on the <a href="http://heroku.com/">Heroku</a> cloud for free, currently.
    Heroku's servers are physically hosted on Amazon's AWS US-EAST infrastructure, located in Virginia.
  <p>
  <p>The code, design, and development of Backpack was all done by Jon in his spare time.</p>

</div>
