<h1 class="center">Welcome to the Quiz Center!</h1>

<hr>

<div>
  <h3><b> Active Assignments: </b></h3>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Course</th>
        <th>Due Date</th>
        <th>Details</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><i>Lord of the Flies Essay </i></td>
        <td> English 9 </td>
        <td> Friday, May 29 2015 at 7:45am </td>
        <td> Click here for more details </td>
      </tr>
    </tbody>
  </table>
</div>

<hr>

<div>
  <h3><b> Inactive Assignments: </b></h3>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Course</th>
        <th>Due Date</th>
        <th>Details</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><i>Lord of the Flies Essay </i></td>
        <td> English 9 </td>
        <td> Friday, May 29 2015 at 7:45am </td>
        <td> Click here for more details </td>
      </tr>
    </tbody>
  </table>
</div>
